scripts
examples.desktop
.xsession*
.sudo_as_admin_successful
.ssh
.profile
.mozilla
.local
.ICEauthority
.Xauthority
.bash_history
.bash_logout
.cache/
.compiz/
.config/
.dmrc
.emacs.d/
.gitconfig*
.gitignore~
.gkrellm2/
